.food-list .theList {
  list-style: none;
  padding-left: 0;
  width: 255px;
}
 
.food-list .theList li {
  font-family: 'Railway', 'sans serif';
  font-size: 1.5em;
  color: #fff;
  background-color: rgba(36, 123, 160, 0.5);
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
}